/* Colors */

:root {

    --text-theme-color-1: black;
    --text-theme-color-2: #aaaaaa;

    --main-theme-color-1: black;
    --main-theme-color-2: black;

    --secu-theme-color-1: #cccccc;
    --secu-theme-color-2: black;

    --background-theme-color-1: #fefefe;
    --background-theme-color-2: rgba(0,0,0,0.9);
}

._show_backgrond{
    background: forestgreen;
}

._box_container{
    margin: 1%;
    padding: 0;
}

._box_container ._infobox{
    max-width: 26%;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 3% 3% 3% 3% ;
    background: var(--secu-theme-color-1);
    position: relative;
    border-radius: 5px;
    border: 1px dashed;
    --inside-box-dim:  40%;
    --inside-box-dim_2: 5%;
    overflow: hidden;
}

._box_container ._infobox:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

._box_container ._size_1_x_2{
    max-width: 50%;
    width: 500px;
    margin: 3% 6% 3% 6% ;
    --inside-box-dim:  60%;
    --inside-box-dim_2: 5%;
}


._box_container ._size_1_x_2:before{
    content: "";
    display: block;
    padding-top: 50%; 	/* initial ratio of 1:1*/
}

._box_container ._size_2_x_2{
    max-width: 50%;
    width: 900px;
    margin: 3% 6% 3% 6% ;
    --inside-box-dim:  60%;
    --inside-box-dim_2: 5%;
}

._box_container ._infobox ._inside_box {
    width: 80%;
    height: 80%;
    position: absolute;
    top:0;
    left: 0;
    margin: 10%;
    border: 1px solid;
    border-radius: 5px;
}

._box_container ._size_1_x_2 ._inside_box {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    margin: 5% 10% 5% 10%;
    border: 1px solid;
    border-radius: 5px;
}

._box_container ._infobox ._topbar_inside_box {
    left: calc(50% - var(--inside-box-dim)/2);
    top: calc(-1*(var(--inside-box-dim_2)/2));
    width: var(--inside-box-dim);
    height: var(--inside-box-dim_2);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._size_1_x_2 ._leftbar_inside_box {
    left: calc(-1*(var(--inside-box-dim_2)/2));
    top: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim_2);
    height: var(--inside-box-dim);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._size_1_x_2 ._bottombar_inside_box {
    top: calc(100% - var(--inside-box-dim_2)/2);
    left: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim);
    height: var(--inside-box-dim_2);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._size_1_x_2 ._rightbar_inside_box {
    left: calc(100% - var(--inside-box-dim_2)/2);
    top: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim_2);
    height: var(--inside-box-dim);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._infobox ._leftbar_inside_box {
    left: calc(-1*(var(--inside-box-dim_2)/2));
    top: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim_2);
    height: var(--inside-box-dim);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._infobox ._rightbar_inside_box {
    left: calc(100% - var(--inside-box-dim_2)/2);
    top: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim_2);
    height: var(--inside-box-dim);
    background: var(--secu-theme-color-1);
    position: absolute;
}

._box_container ._infobox ._bottombar_inside_box {
    top: calc(100% - var(--inside-box-dim_2)/2);
    left: calc(50% - var(--inside-box-dim)/2);
    width: var(--inside-box-dim);
    height: var(--inside-box-dim_2);
    background: var(--secu-theme-color-1);
    position: absolute;
}


._box_container ._infobox ._cross {
    background: red; height: 50%; position: absolute;
    width: 10%; left: 45%; top: 25%; z-index: auto;
}
._box_container ._infobox ._cross:after {
    background: red; content: ""; height: 20%; left: -200%; top: 40%; width: 500%;
    position: absolute;
}

._box_container ._infobox ._image_icon {
    position: relative;
    height: 100%;
    width: 100%;
}

._box_container ._infobox ._image_icon img{
    max-width: 80%;
    max-height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

._box_container ._infobox ._image_icon img:hover{
    max-width:  105%;
    max-height: 105%;
    border-radius: 5px;
    cursor: pointer;
}

._modal_popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--background-theme-color-2);
}

/* Modal Content */
._modal_popup-content {
    background-color: var(--background-theme-color-1);
    margin: auto;
    padding: 40px;
    border: 1px solid var(--secu-theme-color-1);
    width: 80%;
    position: relative;
    text-align: justify;
}

._modal_popup-content h2{
    margin-bottom: 3%;
    font-weight: bold;
}

._modal_popup-content p {
    font-size: 1.1em !important;
}

._modal_popup img, iframe {
    max-width: 70%;
    max-height: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* The Close Button */
._modal_popup-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--text-theme-color-1);
    font-size: 30px;
    font-weight: bold;
}

._modal_popup-close:hover, ._modal_popup-close:focus {
    color: var(--text-theme-color-2);
    text-decoration: none;
    cursor: pointer;
}